<html>
    <head>
            <title>{{ title }}</title>
    </head>
    <body>
        <h2>Select a file to upload</h2>

        {% if filename %}
                <div>
                        <img src="{{ url_for('static', filename='/uploads/'+filename) }}">
                </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
                <p>
                        <input type="file" name="file" autocomplete="off" required>
                </p>
                <p>
                        <input type="submit" value="Submit">
                </p>

            <input type="hidden" id="lat" name="lat" value="">
            <input type="hidden" id="lon" name="lon" value="">
        </form>

        <p id="demo"></p>
        <script>
        var x = document.getElementById("demo");

        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
          } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }

        function showPosition(position) {
          x.innerHTML = "Latitude: " + position.coords.latitude +
          "<br>Longitude: " + position.coords.longitude;
          document.getElementById("lat") = position.coords.latitude;
          document.getElementById("lon") = position.coords.longitude;
        }

        function showError(error) {
          switch(error.code) {
            case error.PERMISSION_DENIED:
              x.innerHTML = "User denied the request for Geolocation."
              break;
            case error.POSITION_UNAVAILABLE:
              x.innerHTML = "Location information is unavailable."
              break;
            case error.TIMEOUT:
              x.innerHTML = "The request to get user location timed out."
              break;
            case error.UNKNOWN_ERROR:
              x.innerHTML = "An unknown error occurred."
              break;
          }
        }
        getLocation()
        </script>
    </body>
</html>